@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.bg-dot-grid-light {
  background-image: radial-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 24px 24px;
}

.bg-dot-grid-dark {
  background-image: radial-gradient(rgba(255, 255, 255, 0.14) 1px, transparent 1px);
  background-size: 24px 24px;
}
